@tailwind base;
@tailwind components;
@tailwind utilities;

.navbarcollapse{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;
}

.navbar-link{
    padding: 0.5rem 1rem;
    color: #000;
    text-decoration:blueviolet;
    border: 1px solid transparent;
    border-radius: 0.375rem;
  transition: color 0.3s;
}

.nabar-link.active{
    color: #007bff;
    font-weight: bold;
    border-bottom: 2px solid black;
}
.navbar-link:hover{
    color: #0056b3;
}